* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yantramanav", sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)),url(imagenes/FondoTL.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}

.menu-navegacion {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181848;
    text-align: center;
    height: 50px;
}

.menu-navegacion a {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-family: "Yantramanav", sans-serif; 
    margin: 20px;
}

.menu-navegacion a:hover {
    color: #f0a818;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.logo {
    max-width: 300px; 
}

.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    margin-top: 60px;
    margin-left: 50px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    margin-right: 10px;
    font-size:25px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:5px solid #181848;
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:#181848;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: #181848;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: #1222ff;
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}

footer{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #181848;
    justify-content: space-between;
}

.footer-logo{
    margin-left: 120px;
    width: 400px;
    height: 500;
    margin-right: 10px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info p {
    margin-left: 60px;
    margin: 40;
    color:white;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.iconos {
    filter: invert(100%); 
}

.iconos img{
    margin-right: 1px;
}

.ubi{
    margin: 30px;
    width: 500px;
    height: 300px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo,
    .footer-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-logo {
        margin-right: 0;
    }
}

.contacto {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.contacto p {
    font-weight: 400;
    font-size: 20px;
    color:white;
    margin: 0; 
}