* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Yantramanav", sans-serif; 
}

.menu-navegacion {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181848;
    text-align: center;
    height: 50px;
}

.menu-navegacion a {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-family: "Yantramanav", sans-serif; 
    margin: 20px;
}

.menu-navegacion a:hover {
    color: #f0a818;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.logo {
    max-width: 300px; 
}

.text-box img{
    max-width: 600px;
    float: right;
    border: 5px solid white;
    border-radius: 20px;
    margin-left: 20px;
}

.text-box{
    margin-left:  80px;
    margin-right: 80px;
    color: black;
    text-align: justify;
    font-size: 16px;
}

.text-box h1{
    font-size: 50px;
    text-align: center;
    color: #181848;
}

.text-box2{
    margin-top: 50px;
    margin-left:  80px;
    margin-right: 80px;
    color: black;
    text-align: justify;
    font-size: 16px;
}

.text-box2 h1{
    font-size: 50px;
    text-align: center;
    color: #181848;
}

.text-box2 img{
    max-width: 350px;
    border: 5px solid white;
    border-radius: 20px;
    margin-left: 20px;
}

.img2_1 img{
    max-width: 650px;
    float: right;
    border: 5px solid white;
    border-radius: 20px;
    margin-left: 20px;
}

.text-box3 img{
    max-width: 600px;
    float: left;
    border: 5px solid white;
    border-radius: 20px;
    margin-right: 20px;
}

.text-box3{
    margin-top: 70px;
    margin-left:  80px;
    margin-right: 80px;
    color: black;
    text-align: justify;
    font-size: 16px;
}

.text-box3 h1{
    font-size: 50px;
    text-align: center;
    color: #181848;
}

.text-box4{
    margin-top: 50px;
    margin-left:  80px;
    margin-right: 80px;
    color: black;
    text-align: justify;
    font-size: 16px;
}

.text-box4 h1{
    font-size: 50px;
    text-align: center;
    color: #181848;
}

.text-box4 img{
    max-width: 350px;
    border: 5px solid white;
    border-radius: 20px;
    margin-left: 20px;
}

footer{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #181848;
    justify-content: space-between;
}

.footer-logo{
    margin-left: 120px;
    width: 400px;
    height: 500;
    margin-right: 10px;
}

.footer-info {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info p {
    margin: 40;
    color:white;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.iconos {
    filter: invert(100%); 
}

.iconos img{
    margin-right: 1px;
}

.ubi{
    margin: 30px;
    width: 500px;
    height: 300px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo,
    .footer-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-logo {
        margin-right: 0;
    }
}

.contacto {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.contacto p {
    font-weight: 400;
    font-size: 20px;
    color:white;
    margin: 0; 
}